.badge-info {
  background: $albi-red;
  color: #fff;
  padding-left: 10px;
  border-radius: 0;
  font-weight: normal;
  margin-left: 10px;

  &:hover {
    background: $oa-red;
    color: $oa-white;
  }

  .btn {
    color: #fff;
  }
}

.active-filters-container {
  font-size: 0.9em;
  align-items: center;
  justify-content: space-between;
}