"<!-- Footer Text -->
<div class="container py-5 savoir-plus">

    <!-- Grid row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Retrouvez les sites de nos partenaires</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="https://tgp.theatregerardphilipe.com/" target="_blank" title="Théatre Gérard Philippe"><img class="img-fluid footer-link" src="/footer-tgp.jpg"></a>
            <div class="col-12 text-center">TGP</div>

        </div>
        <div class="col-md-2">
            <a href="http://www.saint-denis-basilique.fr/"  target="_blank"  title="Basilique de Saint-Denis"><img class="img-fluid footer-link" src="/footer-basilique.jpg"></a>
            <div class="col-12 text-center">Basilique de Saint-Denis</div>
        </div>
        <div class="col-md-2">
            <a href="https://www.tourisme-plainecommune-paris.com/"  target="_blank" title="Office du tourisme plaine commune"><img class="img-fluid footer-link" src="/footer-office.jpg"></a>
            <div class="col-12 text-center">Office du tourisme plaine commune</div>
        </div>
        <div class="col-md-2">
            <a href="https://ville-saint-denis.fr/"  target="_blank"  title="Ville de Saint-Denis"><img class="img-fluid footer-link" src="/footer-saint-denis.jpg"></a>
            <div class="col-12 text-center">Ville de Saint-Denis</div>
        </div>
        <div class="col-md-2">
            <a href="https://www.lecranstdenis.org/"  target="_blank" title="Cinéma l'écran"><img class="img-fluid footer-link" src="/footer-ecran.jpg"></a>
            <div class="col-12 text-center">Cinéma l'écran</div>
        </div>
        <div class="col-md-2">
            <a href="https://www.le6b.fr/" target="_blank" title="6B"><img class="img-fluid footer-link"  src="/footer-6b.jpg"></a>
            <div class="col-12 text-center">Le 6B</div>
        </div>
    </div>
</div>


<footer class="footer pb-0" role="contentinfo">
    <div class="footer-wrapper container">
        <div class="region region-footer">
            <section id="block-footercustom" class="block block-block-content block-block-content116ea455-ee2b-486d-80a6-484c35e708fd clearfix">
                <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                    <div class="footer-row row">
                        <div class="col-sm-4 logo h-100"><a class="footer-lien-mairie" href="https://ccsd.media" target="_blank"><h1>Ça c'est Saint-Denis</h1></a></div>
                        <div class="col-sm-4 adresse h-100">
                            <p>Communiquer à Saint-Denis</p>
                            <p>52 rue de la république<br>
                                93200 Saint-Denis</p>
                        </div>
                        <div class="col-sm-4 contacter h-100 pt-4">
                            <h2 class="footer-contact-button"><a href="mailto:contact@ccsd.media" target="_blank">Nous contacter</a></h2>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END OUTPUT from 'themes/bootstrap/templates/block/block.html.twig' -->
        </div>
        <!-- END OUTPUT from 'themes/bootstrap/templates/system/region.html.twig' -->
    </div>
    <div class="footer-bottom-wrapper">
        <div class="footer-bottom-row row">
            <div class="col-lg-5 footer-rs">
                <h2>Nos réseaux<span>.</span></h2>
                <ul class="footer-shortcuts-wrapper">
                    <li class="footer-shortcut"><a class="shortcut-icon" href="https://www.facebook.com/#" target="_blank"> <i class="fab fa-facebook-f"></i></a></li>
                    <li class="footer-shortcut"><a class="shortcut-icon" href="https://twitter.com/#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="footer-shortcut"> <a class="shortcut-icon" href="https://www.instagram.com/#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li class="footer-shortcut"><a class="shortcut-icon" href="https://www.youtube.com/#" target="_blank"><i class="fab fa-youtube"></i></a></ul>
            </div>
            <div class="col-lg-7 footer-menu">
                <div class="site-map-footer-link-wrapper"><a href="{{root}}/mentions-legales" class="site-map-footer-link">Credits et Mentions Légales</a></div>
            </div>
        </div>
    </div>
</footer>