<header>
  <div class="container h-100">
    <div id="socials">
      <ul>
        <li>
          <a href="https://openagenda.com/home" target="_blank">
            <img src="/logo-oa.png" alt="" OpenAgenda />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/#" target="_blank">
            <img src="/facebook.png" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/#" target="_blank">
            <img src="/twitter.png" alt="Twitter" />
          </a>
        </li>
      </ul>
    </div>
    <div class="row py-4 align-items-center h-100">
      <div class="col-12 text-center pb-5 px-md-5">
        <div class="site_slogan"  style="color:white;">
          {{!-- <{{tagName}} class="site_logo mb-4"><a href="http://mairie-albi.fr/" alt="{{agenda.title}}" title="{{agenda.title}}"><img src="/albi_large.svg" width="200" height="200"> </a></{{tagName}}> --}}
            <h1>Saint-Denis Sorties</h1>
            <h2>Bienvenue sur l'agenda de Saint-Denis</h2>
        </div>
      </div>
    </div>
  </div>
</header>
