    {{>footer}}
    {{#each scripts.bottom}}
    <script src="{{src}}"></script>
    {{/each}}
    <script src="/scripts.js"></script>
    <script src="{{root}}/js/toggleMobileFilters.js"></script>
    <script type="application/json" id="page-props">
      {{{pageProps}}}
    </script>
  </body>
</html>
