.tags {

  list-style-type: none;
  padding: 0;
  text-align: left;
  li::before {
    content: '> ';
    color:#fff;
  }
  li {
    display: list-item !important;
    color: #FFFFFF;
    a {
      display: inline-block;
      color: #FFFFFF !important;
    }

    &.oa-group-first-tag {


    }

    .count {


    }

    &.selected {



      .count {

      }

    }

  }


}
