.event-share {

  li {display: inline-block;}
  font-size: 1.2em;

  i { color: $oa-gray-light; }

  a i { color: $oa-gray-light; }

  .partager {color:$oa-gray; font-size: 14px; font-weight: 500; margin-right: 20px; text-transform: uppercase}
}
